<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registry</title>
    <link rel="stylesheet" href="form.style.css">
</head>
<body>
    <form action="/registry" method="post">
        <div class="container">
            <label for="userName"><b>User Name</b></label>
            <input type="text" name="userName" placeholder="Enter Your Name"> <br>
            <label for="login"><b>User Login</b></label>
            <input type="text" name="login" placeholder="Create Your Login"> <br>
            <label for="password"><b>User Password</b></label>
            <input type="text" name="password" placeholder="Create Your Password"> <br>
            <input type="submit" class="btn" value="Create An Account">
        </div>
    </form>
</body>
</html>